/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e3f2fd, #ffffff);
}

/* Header */
header {
    background: #0d47a1;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navbar */
nav {
    background: #1976d2;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Sections */
section {
    padding: 40px;
    text-align: center;
}

/* Card Design */
.card {
    background: white;
    width: 80%;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

/* Button */
button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #0d47a1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1565c0;
}

/* Footer */
footer {
    background: #0d47a1;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
